*{
    margin: 0;
    padding: 0;
    

}

body{
    height: 100vh;
    display: flex;
    align-items: center;
   

        background-image: linear-gradient(to right, rgb(181, 181, 181),rgb(166, 111, 79));
    }   



.container{ /* elemento pai da flexbox */
    display: flex;
    width: 100vw ; /*alinha os elementos ao meio resposificando automaticamente */
    justify-content: center; /* alinhar o container pai ao meio */
    background-repeat: no-repeat ;
    
    
   

}

.box{ 

    width: 360px;
    height: 500px;
    margin-bottom: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px black;

}


.primeira{

    background-image: url(../images/image2.jpg);
    background-repeat: no-repeat;
    

}

.segunda{
    
    
    background-color: rgb(255, 255, 255);
    

}

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 10%;
    
    margin-top: 15px;
    margin-left: 30px;
    font-size: 30px;


}

a{
    color: rgb(176, 118, 56);
    
}




.primeira :nth-child(1){

    color: rgb(255, 255, 255);
    text-shadow: 3px 4px 20px black;
}

.primeira :nth-child(2){

    color: white;
    text-shadow: 2px 2px 4px black;
}

h2{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 15px;

}

label{ 
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;

}

input{ /*personalização dos campos de input */
    
    height: 5vh;
    border-radius: 8px;
    border-style: none;
    outline: none ;
    padding-left: 13px;
    box-shadow: 0px 2px  5px ; /* sombreamento dos campos */
    max-width: 239px; /*maxima largura q o campo irá chegar */
    
    
}

span{

font-size: 14px;
text-align: center;
margin-right: 66px;



}


#check{

    box-shadow: none; /*remover bug da caixinha de marcar */
    margin-top: 4px;
    max-width: 13px;
    max-height: 13px;
    margin-right: 20px;


}


::-webkit-input-placeholder{ /*personalização de placeholder */
    font-weight: bolder;
    

}


form{

    display: flex;
    flex-direction: column;
    width: 35vh;
    justify-content: center;
    margin-left: 13% ;
    margin-top: 30px;
}

button{ /* botão login */

    padding: 1vh;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0px 2px 5px  ;
    background-color: rgb(172, 156, 151);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    font-weight:bold;
    max-width: 255px;
    max-height: 85px;
}

button:hover{
    cursor: pointer;
    background-color: chocolate;
    color: white;
    transition: 700ms;
    

}


@media (max-width: 768px) { /* responsividade */

    .primeira{

        display: none; /* para excluir uma div da responsividade */
        padding: 1rem;
        padding-right: 60rem;
    }

    
    body{
        background-image: url(../images/image2.jpg);
        background-repeat: no-repeat;
        background-size: 100vh; /* imagem ocupa 100% da tela */

    }



}


@media (max-width: 667px){

    form{
        margin-left: 50px;
    }
    
    input{

        width: 239px;


    }
    button{

        width: 255px;

    }

    #check{

        width: 13px;
        height: 13px;
        margin-top: 13px;
       margin-right: 13px;
    }


}
